<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout">

    <head>
        <th:block th:replace="/fragments/config.html :: fragment-config"></th:block>
        <th:block th:replace="/fragments/header.html :: fragment-header(title)"></th:block>
    </head>

    <body>

    <div class="wrapper d-flex align-items-stretch">
        <th:block th:replace="/fragments/sidebar.html :: fragment-sidebar(active)"></th:block>
<!--        <th:block layout:fragment="fragment-sidebar(active)"> </th:block>-->
        <th:block layout:fragment="content"> </th:block>
    </div> <!--wrapper d-flex-->

        <th:block th:replace="/fragments/config.html :: fragment-config"></th:block>
    </body>

</html>