
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>


    <meta charset="UTF-8">
    <title>home</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">


    <script text="text/javascript" src="../static/js/jquery.min.js"></script>
    <script text="text/javascript" src="../static/js/popper.js"></script>
    <script text="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script text="text/javascript" src="../static/js/main.js"></script>



</head>

<body>

<div class="wrapper d-flex align-items-stretch">


    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4" style="background-image: url(../../static/images/bg_1.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: "></div>
                <h3> C414035 / 시스템관리자 </h3>
            </div>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Download</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-gift mr-3"></span> Gift Code</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-trophy mr-3"></span> Top Review</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
            </li>
        </ul>

    </nav>


    <div class="p-4 p-md-5 pt-5" id = "content">

        <h1> 로컬 테스트 입니다. </h1>

    </div>


</div> <!--wrapper d-flex-->
<script text="text/javascript" src="../static/js/jquery.min.js"></script>
<script text="text/javascript" src="../static/js/popper.js"></script>
<script text="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script text="text/javascript" src="../static/js/main.js"></script>
</body>

</html>