<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dan.web.wiki.Mapper.homeMapper">
    <select id="homeSelect" resultType="dan.web.wiki.vo.homeVo">
        SELECT USER_ID,USER_NM
        FROM T_USER_INF
    </select>
</mapper>
